# Archivos ignorados por EAS Build para reducir tamaño
node_modules
node_modules/**
.expo
.expo/**
dist
dist/**
web-build
web-build/**
android
android/**
ios
ios/**
.git
.git/**
*.apk
*.aab
*.ipa
npm-debug.log
yarn-error.log
android_backup
android_backup/**
dist-installer
dist-installer/**
tmp
tmp/**
temp
temp/**
*.exe
*.dmg
*.AppImage
*.log
hs_err_*.log
build
build/**
